<!-- <div class="container">
  <h2>Products</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{ prod.name }}</td>
        <td>{{ prod.category }}</td>
        <td>{{ prod.price }}</td>
        <td>{{ prod.stock }}</td>
        <td [ngStyle]="{ color: prod.active ? 'blue' : 'red' }">
          {{ prod.active }}
        </td>
        <td>
          <button class="glyphicon glyphicon-pencil"></button>{{ "    " }}
          <button class="glyphicon glyphicon-trash"></button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="mat-elevation-z8">
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>

  <table mat-table [dataSource]="dataSource">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>category</th>
      <td mat-cell *matCellDef="let element">{{ element.category }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let element">{{ element.price }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef>stock</th>
      <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>active</th>
      <td mat-cell *matCellDef="let element">{{ element.active }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
